# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
gameMatch.db
*.pdb
*.tlog
*.log
*.db
*.db-shm
*.vsidx
*.ipch
*.db-wal
*.suo
.vs/GameMatchDemo2/v17/Browse.VC.opendb
.vs/GameMatchDemo2/v17/DocumentLayout.backup.json
.vs/GameMatchDemo2/v17/DocumentLayout.json
GameMatchDemo2/x64/Debug/GameMatchDemo2.exe.recipe
GameMatchDemo2/x64/Debug/GameMatchDemo2.ilk
GameMatchDemo2/x64/Debug/vc143.idb
.vs/GameMatchDemo2/v17/HierarchyCache.v1.txt
GameMatchDemo2/x64/Debug/GameMatchDemo2.vcxproj.FileListAbsolute.txt
*.bak
